body{
    background-color: #141412;
}

#container {
    width: 1150px;
    
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    position:relative;

}

.Logo{
    color: yellow;
    background-color: #141412;
    font-size: 80px;
    text-align: center;
    position: absolute;
}
.Logo a:visited{
	color: yellow;
}
.Logo2{
    color: yellow;
    font-size: 80px;
    position: absolute;
    left:1080px;
}
.text{
    color: white;
    font-size: 25px;
    display: flex;
    font-family: cursive;
}
.containerEnTete {
    width:1150px;
    height:130px;
    background-color: #141412;
    position:fixed;
    z-index: 500;
}
#firstArticle {
    background-color: white;
		position: absolute;
        top:150px;
	
}
.textArticle{
	text-align: center;
	font-size:25px;
	font-weight: bold;
	color: #3B3838;
}


.imagecalloff {
    max-width: 1150px;
}
.barreR {
    text-align: center;
    position: absolute;
    display:flex;
}
#containersearch {
    width: 390px;
    position: absolute;
    top: 50px;
    left: 480px;
}
#logousers {
    position: absolute;
}
/* navbar*/
.navbar{
    width:1150px;
    height:50px;
    font-size :25px;
    position:fixed;
    top:130px;
    z-index: 500;
}
/*skip the bullet point for the ul*/
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color:#141412;
}
ul.navbar li{
    float:left;
    display: block;
}
ul.navbar li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
ul.navbar a:hover {
  background-color:yellow;
  text-decoration-color: white;
  color:black;
}

#imageArt2 {
    position: absolute;
    top: 600px;
    left:0px;
}
#textartcile2 {
    text-align: center;
    font-weight: bold;
}
#footer {

    position: absolute;
   
    text-align: center;
    font-weight: bold;
}
/*footer*/

.footer a:hover {
    color:yellow;

}
.footer a {
    color:white;

}

