body{
	background-color: #141412;
}
#container {
    width: 1150px;
    height: 2000px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.Logo{
	color: yellow;
	background-color: #141412;
	font-size: 80px;
	text-align: center;
	position: absolute;
}
.text{
	color: white;
	font-size: 25px;
	display: flex;
	font-family: cursive;
}
.containerEnTete {
    width:1150px;
    height:130px;
    background-color: #141412;
}

.barreR {
    text-align: center;
    position: absolute;
    display: : 
    
    
}

#containersearch {
    width: 390px;
    position: absolute;
    top: 0px;
	left: 480px;
}

#logousers {
    position: absolute;
    top: 20px;
    left: 600px;
}

#imageArt2 {
    position: absolute;
    top: 600px;
    left:0px;
}

#textartcile2 {
    text-align: center;
    font-weight: bold;
}